*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
/*     grid-template-columns: 200px 200px 200px ;
    grid-template-rows: 300px 300px; */
/*     grid-template: filas / columnas; */
    grid-template:  300px 100px 100px /50% 200px 100px;  
}
.item{
    background: aqua;
    padding: 10px;
    border: 1px solid red;
}
.item:nth-of-type(4){
    background-color: royalblue;
    overflow: auto;
    display: -moz-inline-grid ;
}